<h1 mat-dialog-title>An error occurred</h1>
<div mat-dialog-content>
  <p>An error occurred while completing the authorization process.</p>
  <p>
    Since the authorization process fail, you cannot continue further and will be disconnected. If you think it's an error on our side,
    please <a href="mailto:support@dehopre.com?subject=Netatmo+Callback+Error&body=EventId%3A+{{ data.eventId }}">contact us</a> with the event id hereunder.
  </p>
</div>
<div mat-dialog-actions class="app-callback-error-dialog__actions"><button mat-button color="primary" (click)="close()">OK</button></div>
